<div class="container form">
    <div class="form-block {{template}}">
        <h1 class="form-title">{{title}}</h1>
        <form id="{{formId}}" class="input-block">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputSecondName}}}
            {{{inputPhone}}}
            {{{inputPassword}}}
            {{{inputComplitePassword}}}
        </form>
        <div class="button-block">
            {{{button}}}
            {{{link}}}
        </div>
    </div>
</div>