<div class="container user">
    <div class="user-block">
        <div class="user-title-block">
            <div class="user-photo">
                <img src="{{avatar}}">
            </div>
            <p class="user-name">{{nickName}}</p>
        </div>
        <form id="{{idForm}}" class="user-info-block">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputSecondName}}}
            {{{inputNickName}}}
            {{{inputPhone}}}
            {{{oldPassword}}}
            {{{newPassword}}}
            {{{confirmPassword}}}
            {{{lineEmail}}}
            {{{lineLogin}}}
            {{{lineFirstName}}}
            {{{lineSecondName}}}
            {{{lineNickName}}}
            {{{linePhone}}}
        </form>

        {{#if linkFlag}}
            <div class="user-edit-block">
                <div class="user-edit-item">
                    {{{linkEditInfo}}}
                </div>
                <div class="user-edit-item">
                    {{{linkEditPassword}}}
                </div>
                <div class="user-edit-item">
                    {{{linkLeave}}}
                </div>
            </div>
        {{/if}}

        <div class="user-save">
            {{{buttonSave}}}
        </div>
    </div>
</div>