<div class="container user">
    <div class="user-block">
        <div class="user-title-block">
            <div class="user-photo"></div>
            <p class="user-name">{{nickName}}</p>
        </div>
        <form id="{{idForm}}" class="user-info-block">
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputSecondName}}}
            {{{inputNickName}}}
            {{{inputPhone}}}
            {{{oldPassword}}}
            {{{newPassword}}}
            {{{confirmPassword}}}
            {{{lineEmail}}}
            {{{lineLogin}}}
            {{{lineFirstName}}}
            {{{lineSecondName}}}
            {{{lineNickName}}}
            {{{linePhone}}}
        </form>
        <div class="user-edit-block">
            {{#each links}}
                <div class="user-edit-item">
                    <a class="user-edit-text {{this.class}}" href="{{this.link}}">{{this.text}}</a>
                </div>
            {{/each}}
        </div>
        <div class="user-save">
            {{{buttonSave}}}
        </div>
    </div>
</div>