<div class="user-info">
    <p class="info-title">{{title}}</p>
    <input class="info-input-item" name="{{name}}" type="{{type}}" value="{{value}}">
    <p class="info-error" hidden>{{error}}</p>
</div>